* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

#score {
    text-align: center;
    top: 155px;
    left: 0;
    bottom: 0px;
    right: 0;
    position: absolute;
}

#game {
    width: 500px;
    height: 200px;
    border-bottom: 1px solid rgba(173, 173, 173, 0.466);
    margin: 0 auto;
    margin-top: 350px;
}

#character {
    width: 20px;
    height: 20px;
    background-color: red;  
    position: relative;
    top: 179px;
 
}

.animate {
    animation: jump 0.5s;
    animation-duration: 0.5s;
}

@keyframes jump {
    0%{top: 150px;}
    10%{top: 100px;}
    30%{top: 100px;}
    50%{top: 100px;}
    57%{top: 100px;}
    64%{top: 100px;}
    100%{top: 150px;}
}

#block {
    width: 20px;
    height: 60px;
    background: blue;
    position: relative;
    top: 119px;
    left: 479px;
    animation: block 1s infinite linear;
    
}

@keyframes block {
    0%{left: 480px;}
    100%{left: -40px;}
}